@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: #f5f5f5;
   
}

#produto-lista{
    display: flex;
    gap: 3rem;
}

.btn{
    background: rgb(0, 3, 175);
    color: white;
}


.card-img-top{
width: 10rem;

}

#card1{
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-left: 5rem;
    
}

.vitrineone{
    
   width: 15rem;
   height: 15rem;
   background-color:rgb(255, 255, 255);
   border-radius: 2rem;
   box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
   overflow: hidden;
   text-align: center;

}

.vitrinetwo{
    width: 15rem;
    height: 15rem;
    background-color:#ccc;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
    overflow: hidden;
    text-align: center;
    
}

.vitrinethree{
    width: 15rem;
    height: 15rem;
    background-color:#ccc;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
    overflow: hidden;
    text-align: center;

}

.vitrinefor{
    width: 15rem;
    height: 15rem;
    background-color:#ccc;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
    overflow: hidden;
    text-align: center;

}

.vitrinefive{
    width: 15rem;
    height: 15rem;
    background-color:#ccc;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
    overflow: hidden;
    text-align: center;

}
.vitrinesix{
    width: 15rem;
    height: 15rem;
    background-color:#ccc;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
    overflow: hidden;
    text-align: center;

}

.product{
    width: 100%;
    height: 100vh;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: space-between;
}

#btn-form{
 width: 5rem;
 height: 2.5rem;
 margin-top: 6rem;
 position: absolute;
 right: 2rem;
 bottom: 2rem;
 background: #0000ff;
 border: none;
 color: white;
 cursor: pointer;
 font-size: 1rem;
 border-radius: .3rem;
 box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.63);
 

}

.container-form{
    width: 50rem;
    height: 30rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
    margin-left: 5rem;
    margin-top: 5rem;
    display: flex;
    position: relative;
    background: white;

    
}

.text-form{
    margin-left: 2rem;
    
}

.container-form input{
    margin: 2rem  0 0 2rem ;
    height: 2rem;
    width:20rem;
    
}

#mensagem-text{
    min-width: 42.1rem;
    margin-left: 2rem;
    margin-top:2rem ;
    height: 4rem;
    
}




